body {
  background: url(../img/back.webp) fixed no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;
}

.form {
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10% !important;
  padding-right: 10% !important;
  background: rgba(255, 255, 255, 0.7);
}

.logo {
  height: 90%;
  background: url(../img/logo.jpg) center no-repeat;
  background-size: cover;
  margin-top: 5%;
}
