<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" media="screen"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.webp}"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 form">
          <h1>HTTP Status 403 - Access is denied</h1>
          <h2 th:text="${msg}"></h2>
          <a th:href="@{/index}"> Return to main page</a><br/>
          <a th:href="@{/logout}"> Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>