<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>HNotifier Secured Page</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" media="screen"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.webp}"/>
</head>
<body>
<div class="container">
  <div class="row" style="height: 200px">
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 logo">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 form">
          <h1>Secured page (testing security)</h1>
          <p>Page only visible for Authenticated users</p>
          <p th:text="${name}"></p>
          <h1>Thymeleaf + Spring Security</h1>
          <h2>1. Visit <a th:href="@{/login}">Login page </a></h2>
          <h2>2. Visit <a th:href="@{/registration?role=student}">Registration page</a></h2>
          <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
          </div>
          <div sec:authorize="isFullyAuthenticated()">
            <p># This user is login by username / password.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
