<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" media="screen"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.webp}"/>
  <title>Авторизация | HNotifier</title>
</head>
<body style="">
<div class="container">
  <div class="row" style="height: 200px">
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 logo">
    </div>
    <div class="col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-3">
      <a class="form-control btn btn-info" th:href="@{/registration?role=student}"
         style="margin-top: 15%">
        Регистрация
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <form th:action="@{/login}" method="POST" class="form-horizontal" style="margin-bottom: 25%;">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 form">
            <div th:if="${error}">
              <div class="alert alert-danger" style="margin-top: 20px;text-align:  center;">
                <div th:utext="${error}"></div>
              </div>
            </div>
            <div th:if="${logout}">
              <p align="center"
                 style="font-size: larger ;margin-top: 3%; font-weight:  bolder; color: #8A0808"
                 th:utext="${logout}"></p>
            </div>
            <div class="form-group"><h1 align="center">Оповещения</h1></div>
            <div class="form-group">
              <input type="email"
                     pattern="^([a-z0-9_\.-]+)@([a-z0-9][a-z0-9_\.-]+)\.([a-z\.]{2,6})$"
                     id="login"
                     name="login"
                     class="form-control"
                     autofocus="autofocus"
                     placeholder="Ваш адрес электронной почты"
                     required="true"/>
            </div>
            <div class="form-group">
              <input type="password"
                     id="password"
                     name="password"
                     class="form-control"
                     data-toggle="password"
                     placeholder="Пароль"
                     required="true"/>
            </div>
            <div class="form-group">
              <p><input type="checkbox" name="remember-me"/> Запомнить меня</p>
              <p><input type="checkbox" onclick="showPass()"/> Показать пароль</p>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit"
                         name="login-submit"
                         id="login-submit"
                         class="form-control btn btn-info"
                         value="Войти"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  function showPass() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
</body>
</html>