<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
  <title>Регистрация | HNotifier</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" media="screen"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.webp}"/>
</head>
<body>
<div class="container">
  <div class="row" style="height: 200px">
    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 logo">
    </div>
    <div class="col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-3">
      <a class="form-control btn btn-info" th:href="@{/login}"
         style="margin-top: 15%">
        Войти
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post"
            class="form-horizontal" style="margin-bottom: 25%;">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 form">
            <div class="form-group">
              <h1 align="center">Оповещения</h1>
            </div>
            <div th:if="${#fields.hasAnyErrors()}">
              <div class="alert alert-danger">
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Error</p>
                <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</p>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                  Error</p>
                <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">
                  Password Confirm Error</p>
              </div>
            </div>
            <div class="form-group">
              <input type="text"
                     pattern="^[a-zA-Z][a-zA-Z-_\. ]{2,20}$"
                     id="firstName"
                     name="firstName"
                     class="form-control"
                     autofocus="autofocus"
                     placeholder="Имя"
                     required="true"/>
            </div>
            <div class="form-group">
              <input type="text"
                     pattern="^[a-zA-Z][a-zA-Z-_\. ]{2,20}$"
                     id="lastName"
                     name="lastName"
                     class="form-control"
                     autofocus="autofocus"
                     placeholder="Фамилия"
                     required="true"/>
            </div>
            <!--<div class="form-group">-->
            <!--<input type="text"-->
            <!--id="location"-->
            <!--name="location"-->
            <!--class="form-control"-->
            <!--autofocus="autofocus"-->
            <!--placeholder="Город"-->
            <!--required="true"/>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<input type="text"-->
            <!--id="studyGroup"-->
            <!--name="studyGroup"-->
            <!--class="form-control"-->
            <!--autofocus="autofocus"-->
            <!--placeholder="Курс, который вы проходите"-->
            <!--required="true"/>-->
            <!--</div>-->
            <div class="form-group">
              <input type="tel"
                     pattern="^\+(?:[0-9] ?){6,14}[0-9]$"
                     id="phoneNumber"
                     name="phoneNumber"
                     class="form-control"
                     autofocus="autofocus"
                     placeholder="Номер телефона"
                     required="true"/>
            </div>
            <div class="form-group">
              <input type="email"
                     pattern="^([a-z0-9_\.-]+)@([a-z0-9][a-z0-9_\.-]+)\.([a-z\.]{2,6})$"
                     id="login"
                     name="login"
                     class="form-control"
                     autofocus="autofocus"
                     placeholder="Ваш адрес электронной почты"
                     required="true"/>
            </div>
            <div class="form-group">
              <input type="password"
                     pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                     th:title="#{Wrong.password}"
                     id="password"
                     name="password"
                     class="form-control"
                     data-toggle="password"
                     placeholder="Пароль"
                     required="true"/>
            </div>
            <div class="form-group">
              <input type="password"
                     id="passwordConfirm"
                     name="passwordConfirm"
                     class="form-control"
                     data-toggle="passwordConfirm"
                     placeholder="Подтверждение пароля"
                     required="true"/>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit"
                         name="registration-submit"
                         id="registration-submit"
                         class="form-control btn btn-info"
                         value="Зарегистрироваться"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
